{% extends "_layouts/cp.twig" %}

    {% import '_includes/forms.twig' as forms %}
    
    
    {% set customers = customers %}
    {% set title = "Dashboard"|t('_craft-stripe') %}
    
        
    
        {% block content %}
            <h1>{{ customers.data|length }}</h1>
    
        
    
        <div>
            <ul>
                {% for customer in customers.data %}
                    <li>{{ customer.email }}</li>
                {% endfor %}
            </ul>
        </div>
    
        {% endblock %}

        {% block sidebar %}
            {% include "craft-stripe/_layout/_sidebar" %}
        {% endblock %}
    
        
    
    
    
    