
    <nav>
        <ul>
            <li><a href="{{ url('craft-stripe') }}">Dashboard</a></li>
            <li><a href="{{ url('craft-stripe/customers') }}">Customers</a></li>
            <li><a href="{{ url('craft-stripe/invoices') }}">Invoices</a></li>
            <li><a href="{{ url('craft-stripe/payments') }}">Payments</a></li>
        </ul>
    </nav>
