{% do view.registerAssetBundle("swdevelopment\\craftstripe\\assetbundles\\PluginAssetBundle") %}
    {% import '_includes/forms.twig' as forms %}


{% block content %}
    <div>
        This is the utility for syncing Stripe data. <br>what needs to be synced over:
        <ul>
            <li>Customers</li>
            <li>Invoices</li>
            <li>Payments</li>
            <li>Products</li>
        </ul>

    </div>

    <div id="sync">
        <form method="post" class="">
            {{ actionInput('craft-stripe/sync') }}
            {{ csrfInput() }}
            
            {{ forms.checkboxSelectField({
                label: "Sync Types"|t("craft_stripe"),
                instructions: "Sync types to enable"|t,
                id: 'syncTypes',
                name: 'syncTypes',
                options: {
                    'customers': 'Sync Customer Data'|t('craft_stripe'),
                    'products': 'Sync Product Data'|t('craft_stripe'),
                    'invoices': 'Sync Invoice Data'|t('craft_stripe'),
                    'payments': 'Sync Payment Data'|t('craft_stripe'),
                    
                },
                
                warning: false,
                
            }) }}

            {{ 
                forms.button({
                    label: 'Sync',
                    spinner:true,
                    id: 'sync',
                    class: 'btn submit',
                    type: 'submit'
                })
            }}

        </form>

    </div>



{% endblock %}

